---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from '../components/About.astro';
import MenuTradicional from '../components/MenuTradicional.astro';
import Ordena from '../components/Ordena.astro';
import Siguenos from '../components/Siguenos.astro';
import Footer from '../components/Footer..astro';
import MenuVegano from '../components/MenuVegano.astro'
import Frase from '../components/Frase.astro'

---

<Layout title="Biggies-Tacos" description="Tacos y comida mexicana Quito, Ecuador">
	<main>
		<Hero />
		<About />
		<Frase />
		<MenuTradicional />
		<MenuVegano />
		<Ordena />
		<Siguenos />
	</main>
	<Footer />
</Layout>

