<section class="text-xl text-left mt-20 px-6 sm:px-10 md:px-20 max-w-[60ch] text-pretty mx-auto">
  <h1 class="text-4xl sm:text-5xl md:text-6xl font-semibold text-center mx-auto mb-6 sm:mb-8 md:mb-10">
    <strong>Sobre Nosotros</strong>
  </h1>
  <p class="mb-4">
    ¡Bienvenidos a <strong>Biggies Tacos</strong>, tu restaurante de tacos en línea!
    Es un honor para nosotros darles la más cordial bienvenida a este emocionante proyecto.
    <p>
    Estamos encantados de presentarles un concepto único que fusiona lo mejor de dos mundos: 
    los deliciosos <strong>sabores tradicionales</strong> de los tacos con la frescura y la innovación de los <strong>tacos veganos.</strong></p>
  </p>

</section>

  