<section class="text-xl text-left px-20 max-w-[60ch] text-pretty mx-auto ">
    <h1 class="text-6xl font-semibold text-center text-wrap mx-auto mb-10 tracking-wide">Sobre Nosotros</h1>
    <p>¡Bienvenidos a <strong>Biggies Tacos</strong>, tu restaurante de tacos en línea! 
        Nos especializamos en ofrecer una experiencia gastronómica única
        que combina lo mejor de la cocina tradicional <strong>mexicana</strong> con deliciosas
        opciones <strong>veganas</strong>. </p>

        <p>¡Descubre la verdadera esencia de la gastronomía
        mexicana desde la comodidad de tu hogar con <strong>Biggies Tacos!</strong></p>
</section>