<section class="text-xl text-left mt-20 px-6 sm:px-10 md:px-20 max-w-[60ch] text-pretty mx-auto">
    <h1 class="text-4xl sm:text-5xl md:text-6xl font-semibold text-center mx-auto mb-6 sm:mb-8 md:mb-10 ">
      Sobre Nosotros
    </h1>
    <p class="mb-4">
      ¡Bienvenidos a <strong>Biggies Tacos</strong>, tu restaurante de tacos en línea!
      Nos especializamos en ofrecer una experiencia gastronómica única
      que combina lo mejor de la cocina tradicional <strong>mexicana</strong> con deliciosas
      opciones <strong>veganas</strong>.
    </p>
    <p>
      ¡Descubre la verdadera esencia de la gastronomía
      mexicana desde la comodidad de tu hogar con <strong>Biggies Tacos!</strong>
    </p>
  </section>
  