<section class="h-full font-serif text-4xl sm:text-5xl md:text-5xl lg:text-5xl font-semibold text-center mx-auto mt-28 ">
    <p>
      <strong>"SABOR QUE DESPIERTA TUS SENTIDOS, INNOVACIÓN QUE CONQUISTA TU PALADAR"</strong>
    </p>
</section>