<div class="relative w-full h-screen overflow-hidden">
  <div class="absolute inset-0 flex justify-center items-center">
    <h1 class="text-4xl lg:text-7xl md:text-6xl z-10 font-bold text-white animate-fade-in">Bienvenidos</h1>
  </div>
  <video class="absolute w-full h-full object-cover" src="/tacos.mp4" autoplay loop muted></video>
  <video class="absolute w-full h-full blur-3xl object-cover -z-40" src="/tacos.mp4" autoplay loop muted></video>
</div>
