---
import Cactus from "../../public/Icons/cactus.astro";
---

<section id="menu-1" class="text-gray-600 body-font mt-40">
  <h1 class="title-font font-medium mx-auto text-center text-4xl sm:text-5xl md:text-6xl lg:text-7xl mb-4 text-gray-900 flex items-center justify-center"><Cactus /> Menú Tradicional <Cactus /></h1>
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="w-full mb-6"></div>
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 w-full content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Asada</h1>
        <div class="leading-relaxed text-gray-200">Disfruta de nuestra carne de res asada y marinada en especias tradicionales, acompañada de cebolla y cilantro fresco. Todo ello bañado en salsa de tomate y el toque cítrico del limón.</div>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="/taco-1.webp" alt="Taco De Asada">
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="/taco-2.webp" alt="Tacos De Al Pastor">
    </div>
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 w-full content-start sm:pl-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Tacos De Al Pastor</h1>
        <div class="leading-relaxed text-gray-200">Exquisito trompo de carne de cerdo adobada con achiote y una mezcla única de especias. Acompañado de piña asada, cebolla fresca y cilantro. Completa la experiencia con nuestra salsa especial de cilantro y piña.</div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 w-full content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Pollo</h1>
        <div class="leading-relaxed text-gray-200">Jugoso pollo adobado con achiote y una mezcla de especias que despiertan tus sentidos. Acompañado de piña asada, cebolla fresca y cilantro recién cortado.</div>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="taco-3.webp" alt="Taco De Pollo">
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="taco-4.webp" alt="Taco De Chorizo">
    </div>
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 w-full content-start sm:pl-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Chorizo</h1>
        <div class="leading-relaxed text-gray-200">Chorizo picante, elaborado con cerdo o soya para satisfacer todos los paladares. Acompañado de cebolla caramelizada y cilantro fresco, que realzan su delicioso sabor. 
        Todo esto coronado con nuestra salsa de chile de árbol, que añade un toque de picante irresistible.</div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 w-full content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Pastor De Pollo</h1>
        <div class="leading-relaxed text-gray-200">Pollo adobado, marinado con achiote y una mezcla secreta de especias que deleitarán tu paladar. Acompañado de jugosas rodajas de piña asada, cebolla crujiente y cilantro fresco, todo ello resaltado con nuestra irresistible salsa de cilantro y piña.</div>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="taco-5.webp" alt="Taco De Pastor De Pollo">
    </div>
  </div>
</section>
