<section class="text-gray-600 body-font bg-custom">
    <h1 class="title-font font-medium mx-auto text-center text-7xl mb-4 text-gray-900">Menú Vegano</h1>
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="w-full mb-6">
      </div>
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Asada</h1>
          <div class="leading-relaxed">Tiras de seltán marinadas en una mezcla de especias tradicionales para carne asada,
            cebolla caramelizada, cilantro fresco, salsa de tomate casera, guacamole </div>
        </div>
      </div>
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font bg-custom">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
      </div>
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pl-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Champiñones</h1>
          <div class="leading-relaxed">Champiñones marinados en adobo al pastor, piña asada, cebolla morada encurtida, cilantra fresco, salsa de aguacate</div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font bg-custom">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Rabano Al Pastor</h1>
          <div class="leading-relaxed">Rabanos Marinados en adobo al pastor, piña asada, cebolla morada encurtida, cilantro fresco, salsa de aguacate</div>
        </div>
      </div>
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font bg-custom">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
      </div>
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pl-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Barbacoa De Hongos</h1>
          <div class="leading-relaxed"><Pour-over>Hongos portobello en salsa de barbacoa, cebolla caramelizada, cilantro fresco, salsa de jalapeño</Pour-over></div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font bg-custom">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Portobello al aguacate</h1>
          <div class="leading-relaxed">Hongos portobello en salsa de aguacate, cebolla caramelizada, cilantro fresco, salsa de jalapeño</div>
        </div>
      </div>
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
      </div>
    </div>
  </section>