---
import Cactus from "../../public/Icons/cactus.astro"
---

<section id="menu-2" class="text-gray-600 body-font bg-custom mt-40">
  <h1 class="title-font font-medium mx-auto py-24 text-center text-4xl sm:text-5xl md:text-6xl lg:text-7xl mb-2 text-gray-900 flex items-center justify-center"><Cactus />Menú Vegano<Cactus /></h1>
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="w-full mb-6"></div>
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 w-full content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Asada</h1>
        <div class="leading-relaxed">Tiras de seltán marinadas en una mezcla de especias tradicionales para carne asada, que realzan su sabor único. Acompañadas de cebolla caramelizada y cilantro fresco, creando un equilibrio perfecto de sabores y texturas. 
          Todo ello servido con nuestra deliciosa salsa de tomate casera y guacamole fresco.
        </div>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="taco-6.webp" alt="Taco De Asada">
    </div>
  </div>
</section>

<section class="text-gray-600 body-font bg-custom">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="taco-7.webp" alt="Taco De Champiñones">
    </div>
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 w-full content-start sm:pl-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Champiñones</h1>
        <div class="leading-relaxed">Champiñones marinados en adobo al pastor. Acompañados de piña asada, cebolla morada encurtida y cilantro fresco, creando un festín de contrastes en cada bocado. 
        Todo esto se complementa a la perfección con nuestra cremosa salsa de aguacate</div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font bg-custom">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 w-full content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Rabano Al Pastor</h1>
        <div class="leading-relaxed">Deléitate con nuestros rábanos marinados al estilo pastor, junto con piña asada, cebolla morada encurtida y cilantro fresco. Todo servido con una deliciosa salsa de aguacate.</div>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="taco-8.webp" alt="Taco De Rabano Al Pastor">
    </div>
  </div>
</section>

<section class="text-gray-600 body-font bg-custom">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="taco-9.webp" alt="Taco De Barbacoa De Hongos">
    </div>
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 w-full content-start sm:pl-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Barbacoa De Hongos</h1>
        <div class="leading-relaxed">Disfruta de nuestros hongos portobello en salsa de barbacoa con cebolla caramelizada y cilantro fresco, coronados con un toque de salsa de jalapeño.</div>
      </div>
    </div>
  </div>
</section>

<section class="text-gray-600 body-font bg-custom">
  <div class="container px-5 py-24 mx-auto flex flex-wrap">
    <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 w-full content-start sm:pr-10">
      <div class="w-full sm:p-4 px-4 mb-6">
        <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Portobello al aguacate</h1>
        <div class="leading-relaxed">Degusta nuestros hongos portobello en salsa de aguacate, con cebolla caramelizada, cilantro fresco y un toque de salsa de jalapeño. Una combinación de sabores frescos y picantes que te sorprenderá en cada bocado.

        </div>
      </div>
    </div>
    <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
      <img class="object-cover object-center w-full h-full" src="taco-10.webp" alt="Taco De Portobello al aguacate">
    </div>
  </div>
</section>
