<section class="text-gray-600 body-font">
    <h1 class="title-font font-medium mx-auto text-center text-7xl mb-4 text-gray-900">Menú Tradicional</h1>
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="w-full mb-6">
      </div>
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Asada</h1>
          <div class="leading-relaxed">Carne de res asada y marinada en especias tradicionales, cebolla y cilantro fresco, salsa de tomate, limon</div>
        </div>
      </div>
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
      </div>
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pl-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Tacos De Al Pastor</h1>
          <div class="leading-relaxed">Trompo de carne de cerdo adobada, con achiote y especias, piña asada, cebolla y cilantro fresco,
            salsa de cilantro y piña
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Pollo</h1>
          <div class="leading-relaxed">Pollo deshebrado en una salsa de tomate, chipotle y cebolla, cilantro fresco, crema y queso fresco</div>
        </div>
      </div>
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
      </div>
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pl-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Chorizo</h1>
          <div class="leading-relaxed">Chorizo picante de cerdo o soya, cebolla caramelizada, cilantro fresco, salsa chile de arból</div>
        </div>
      </div>
    </div>
  </section>

  <section class="text-gray-600 body-font">
    <div class="container px-5 py-24 mx-auto flex flex-wrap">
      <div class="flex flex-wrap -mx-4 mt-auto mb-auto lg:w-1/2 sm:w-2/3 content-start sm:pr-10">
        <div class="w-full sm:p-4 px-4 mb-6">
          <h1 class="title-font font-medium text-xl mb-2 text-gray-900">Taco De Pastor De Pollo</h1>
          <div class="leading-relaxed">Pollo adobado con achiote y especias, piña asada, cebolla y cilantro fresco, salsa de cilantro y piña</div>
        </div>
      </div>
      <div class="lg:w-1/2 sm:w-1/3 w-full rounded-lg overflow-hidden mt-6 sm:mt-0">
        <img class="object-cover object-center w-full h-full" src="https://dummyimage.com/600x300" alt="stats">
      </div>
    </div>
  </section>
  