---
import Header from "../components/Header.astro"


interface Props {
	title: string;
	description: string;
}

const { description, title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content={description} />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<slot />
	</body>
</html>
<style is:global>
	
	html {
		font-family: system-ui, sans-serif;
		
		
	}
	body {
    color: #fffdea; 
	background: #e38500;
}

a {
    color: #fffdea; 
}

p {
	color: #fffdea ;
	line-height: 1.5;
	margin-bottom: 2em; 
	font-size: 1.2em;
	
}
p strong {
	color: #481d00;
	font-weight: 700;
}

.bg-custom {
	background-color: #fffdea;
}
.h1-custom {
	color: #481d00;
}
	
</style>
